In [124]:
import pandas as pd
#from pandas.io.parsers import ParserError
import numpy as np
from helper import get_mapper
import json
import os
import re
import datetime

In [125]:
from os import listdir, stat
from os.path import isfile, join
BASE_DIR = "."
MIN_SIZE = 512

In [126]:
hours = (365 * 8 + 2) * 24
base = datetime.datetime(2015, 1, 1)
date_list = [base + datetime.timedelta(hours=x) for x in range(0, hours)]
COMPLETE = pd.DataFrame(data={'produced_at': date_list})
COMPLETE.produced_at = pd.to_datetime(COMPLETE.produced_at)

In [127]:
COMPLETE

              produced_at
0     2015-01-01 00:00:00
1     2015-01-01 01:00:00
2     2015-01-01 02:00:00
3     2015-01-01 03:00:00
4     2015-01-01 04:00:00
...                   ...
70123 2022-12-31 19:00:00
70124 2022-12-31 20:00:00
70125 2022-12-31 21:00:00
70126 2022-12-31 22:00:00
70127 2022-12-31 23:00:00

[70128 rows x 1 columns]

In [128]:
base_df = pd.DataFrame({'produced_at': pd.date_range(start='2015-01-01', end='2023-01-01', freq='1H')})

In [129]:
base_df.dtypes

produced_at    datetime64[ns]
dtype: object

In [130]:
files = [f for f in os.listdir("combined")]

In [131]:
#files

In [132]:
COMPLETE.dtypes

produced_at    datetime64[ns]
dtype: object

In [133]:
def gen_power3(files):
    zero = pd.DataFrame()
    result = COMPLETE
    for f in files[0:6]:
        final = pd.DataFrame()
        df = pd.read_csv("./combined/" + f, parse_dates=["produced_at"])
        print(f)
        try:
            df2 = df.merge(COMPLETE, on='produced_at', how='right')
        except ValueError:
            print(f)
        if final.empty:
            final = df2
        else:
            final = final.append(df2, sort=False)
        result = pd.merge(result, final, how='left', on=['produced_at'])
    return result.sort_values(by=['produced_at'])

In [134]:
start = datetime.datetime.now()

In [135]:
cdf = gen_power3(files)

06-05-900-0865327.csv
06-09-171-0009-0B01.csv
06-11-01-1105609.csv
06-08-1195689.csv
06-05-300-9046030.csv
13-30-1010101.csv

In [136]:
end = datetime.datetime.now()

In [137]:
duration = end - start
duration_in_s = duration.total_seconds()

In [138]:
duration_in_s

0.363801

In [139]:
#cdf

In [140]:
def combine2cdf():
    base_df = pd.DataFrame({'produced_at': pd.date_range(start='2015-01-01', end='2023-01-01', freq='1H')})
    #base_df['produced_at'] = base_df['produced_at'].astype(str)
    pdlist = [base_df]
    for f in os.listdir("combined"):
        #final = pd.DataFrame()
        tmp = pd.read_csv("combined/" + f, na_values='-')
        final = tmp.drop(columns=['produced_at'], axis=1)
        print(tmp.shape)
        #if final.empty:
        #    final = result
        #else:
        #    print("DEBUG!")
        #df['produced_at'] = df['produced_at'].astype(str)
        #df = pd.merge(base_df, df, on="produced_at", how='outer')
        pdlist.append(final)
        #result = pd.merge(result, result, how='left', on=['produced_at'])
        
    
    result = pd.concat(pdlist, axis=1)
        
        #df.merge(DATEDF_LIST[idx], on='produced_at', how='right')
    return result

In [141]:
cdf = combine2cdf()

(67777, 10)
(70032, 3)
(70128, 3)
(70032, 7)
(67777, 2)
(70128, 2)
(66841, 4)
(60912, 2)
(19824, 2)
(65664, 3)
(70128, 2)
(70128, 3)
(67777, 6)
(66841, 3)
(67777, 8)
(70032, 5)
(70032, 4)
(31921, 3)
(64657, 4)
(70128, 3)
(67777, 3)
(17472, 3)
(43848, 2)
(17568, 3)
(66841, 4)
(70136, 2)
(24507, 2)
(21773, 14)
(70032, 2)
(70032, 4)
(15193, 2)
(70032, 4)
(70128, 3)
(56783, 3)
(41423, 4)
(64657, 2)
(54504, 5)
(57119, 4)
(67785, 2)
(37463, 2)
(66169, 2)
(67777, 10)
(17448, 2)
(25536, 2)
(61632, 2)
(31728, 5)
(67777, 9)
(59065, 3)
(57215, 3)
(67777, 3)
(50231, 2)
(67777, 2)
(70032, 2)
(66673, 2)
(67849, 3)
(70032, 4)
(61128, 3)
(67777, 2)
(59784, 2)
(17448, 2)
(70128, 5)
(70032, 3)
(26208, 2)
(67777, 2)
(54864, 6)
(25536, 4)
(67777, 3)
(67777, 6)
(60816, 3)
(70128, 7)
(70128, 3)
(70032, 3)
(67777, 6)
(70032, 2)
(70128, 6)
(67009, 2)
(70032, 3)
(70032, 4)
(66841, 2)
(70032, 7)
(70032, 4)

In [142]:
cdf = cdf.loc[:, ~cdf.columns.str.contains('^Unnamed')]
cdfa = cdf.dropna(subset=['produced_at'])
cdf2 = cdfa.fillna(0)

In [143]:
cdf2

,produced_at,BNA1041,SEE964242179781,SEE923304040681,SEE932787342328,SEE995899706617,SEE939426112649,SEE942237774470,SEE908672656115,BNA1046a,...,SEE906326984744,SEE975556152230,SEE971282697380,SEE963975943188,SEE904161631090,SEE965782597448,SEE944503176377,SEE968136280119,BNA051a,SEE980331579218
0,2015-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2015-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2015-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,2015-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70124,2022-12-31 20:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70125,2022-12-31 21:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70126,2022-12-31 22:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70127,2022-12-31 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70128,2023-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [144]:
cdf2

,produced_at,BNA1041,SEE964242179781,SEE923304040681,SEE932787342328,SEE995899706617,SEE939426112649,SEE942237774470,SEE908672656115,BNA1046a,...,SEE906326984744,SEE975556152230,SEE971282697380,SEE963975943188,SEE904161631090,SEE965782597448,SEE944503176377,SEE968136280119,BNA051a,SEE980331579218
0,2015-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2015-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2015-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,2015-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70124,2022-12-31 20:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70125,2022-12-31 21:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70126,2022-12-31 22:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70127,2022-12-31 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70128,2023-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [145]:
#cdf['produced_at'] = cdf['produced_at'].astype(pd.datetime64)
cdf2['produced_at'] = pd.to_datetime(cdf2['produced_at'])

In [146]:
gm = cdf2.resample('1M', on='produced_at').sum()

In [147]:
gm

,BNA1041,SEE964242179781,SEE923304040681,SEE932787342328,SEE995899706617,SEE939426112649,SEE942237774470,SEE908672656115,BNA1046a,SEE947816911833,...,SEE906326984744,SEE975556152230,SEE971282697380,SEE963975943188,SEE904161631090,SEE965782597448,SEE944503176377,SEE968136280119,BNA051a,SEE980331579218
produced_at,,,,,,,,,,,,,,,,,,,,,
2015-01-31,0.0,148666.0,0.0,0.0,0.0,0.0,0.0,0.0,43.0,114932.0,...,4638.0,0.0,0.0,0.0,0.0,66408.0,180038.0,0.0,265969.0,475892.0
2015-02-28,0.0,60152.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73936.0,...,167393.0,0.0,0.0,0.0,0.0,0.0,174652.0,0.0,250598.0,414172.0
2015-03-31,0.0,264245.0,0.0,0.0,0.0,0.0,0.0,0.0,292.0,68174.0,...,178459.0,0.0,0.0,0.0,0.0,0.0,143751.0,0.0,256819.0,255749.0
2015-04-30,0.0,30132.0,0.0,0.0,0.0,27.0,25.0,0.0,0.0,81024.0,...,105186.0,0.0,0.0,0.0,0.0,0.0,56913.0,0.0,155613.0,196530.0
2015-05-31,0.0,60561.0,0.0,0.0,0.0,0.0,112.0,114.0,306.0,81490.0,...,159020.0,0.0,0.0,0.0,0.0,0.0,10535.0,0.0,76746.0,36599.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-30,0.0,0.0,0.0,0.0,0.0,721.0,0.0,0.0,1550.0,14029.0,...,0.0,0.0,0.0,0.0,0.0,134569.0,0.0,0.0,71797.0,423355.0
2022-10-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11133.0,...,0.0,0.0,0.0,0.0,0.0,91383.0,0.0,0.0,36961.0,142818.0
2022-11-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16203.0,...,0.0,0.0,0.0,0.0,0.0,171179.0,0.0,0.0,110586.0,492625.0
2022-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16057.0,...,0.0,0.0,0.0,0.0,0.0,130482.0,0.0,0.0,250969.0,330835.0
2023-01-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [148]:
gm2 = gm.reset_index()
#gm2['year'] = gm2['produced_at2']
#gm2['month'] = gm2['produced_at3']

In [149]:
def gen_power3(files):
    result = COMPLETE
    for plant, files in FILES_DICT.items():
        final = pd.DataFrame()
        for idx, f in enumerate(files):
            f = "fix/" + f
            df = pd.read_csv(f, parse_dates=["produced_at"])
            df2 = df.merge(DATEDF_LIST[idx], on='produced_at', how='right')
            if final.empty:
                final = df2
            else:
                final = final.append(df2, sort=False)
        result = pd.merge(result, final, how='left', on=['produced_at'])
    return result.sort_values(by=['produced_at'])

In [150]:
gm2

,produced_at,BNA1041,SEE964242179781,SEE923304040681,SEE932787342328,SEE995899706617,SEE939426112649,SEE942237774470,SEE908672656115,BNA1046a,...,SEE906326984744,SEE975556152230,SEE971282697380,SEE963975943188,SEE904161631090,SEE965782597448,SEE944503176377,SEE968136280119,BNA051a,SEE980331579218
0,2015-01-31,0.0,148666.0,0.0,0.0,0.0,0.0,0.0,0.0,43.0,...,4638.0,0.0,0.0,0.0,0.0,66408.0,180038.0,0.0,265969.0,475892.0
1,2015-02-28,0.0,60152.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,167393.0,0.0,0.0,0.0,0.0,0.0,174652.0,0.0,250598.0,414172.0
2,2015-03-31,0.0,264245.0,0.0,0.0,0.0,0.0,0.0,0.0,292.0,...,178459.0,0.0,0.0,0.0,0.0,0.0,143751.0,0.0,256819.0,255749.0
3,2015-04-30,0.0,30132.0,0.0,0.0,0.0,27.0,25.0,0.0,0.0,...,105186.0,0.0,0.0,0.0,0.0,0.0,56913.0,0.0,155613.0,196530.0
4,2015-05-31,0.0,60561.0,0.0,0.0,0.0,0.0,112.0,114.0,306.0,...,159020.0,0.0,0.0,0.0,0.0,0.0,10535.0,0.0,76746.0,36599.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,2022-09-30,0.0,0.0,0.0,0.0,0.0,721.0,0.0,0.0,1550.0,...,0.0,0.0,0.0,0.0,0.0,134569.0,0.0,0.0,71797.0,423355.0
93,2022-10-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,91383.0,0.0,0.0,36961.0,142818.0
94,2022-11-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,171179.0,0.0,0.0,110586.0,492625.0
95,2022-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,130482.0,0.0,0.0,250969.0,330835.0
96,2023-01-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0