In [1]:
import pandas as pd
from scipy import stats
import numpy as np
from pandas.api.types import CategoricalDtype
import re

In [2]:
plants = pd.read_csv("plants.csv")
power = pd.read_csv("../production2/yearly.csv")

In [3]:
#power.melt(id_vars=['plantid'], value_vars=['yearpower', 'year'])

In [4]:
power.loc[power.plantid == "06-05-100-0248923"]

     year            plantid  yearpower
277  2015  06-05-100-0248923   15389371
278  2016  06-05-100-0248923   21816032
279  2017  06-05-100-0248923   22612318
280  2018  06-05-100-0248923   25510420
281  2019  06-05-100-0248923   17882517
282  2020  06-05-100-0248923   14625943
283  2021  06-05-100-0248923   16556991
284  2022  06-05-100-0248923   21859813

In [5]:
power

     year               plantid  yearpower
0    2015  06-04-11_2001178_8_0     761906
1    2016  06-04-11_2001178_8_0     706342
2    2017  06-04-11_2001178_8_0     786206
3    2018  06-04-11_2001178_8_0     694059
4    2019  06-04-11_2001178_8_0     715912
..    ...                   ...        ...
526  2018     06-05-500-0342713          0
527  2019     06-05-500-0342713       1495
528  2020     06-05-500-0342713    2275756
529  2021     06-05-500-0342713    4696684
530  2022     06-05-500-0342713    4558556

[531 rows x 3 columns]

In [6]:
powers = power.pivot(index='plantid', columns='year')

In [7]:
powers

                    yearpower                                                  \
year                     2015        2016        2017        2018        2019
plantid
01-50-02000283604   1370270.0   1121756.0   1047315.0   1159302.0    366425.0
03-01-01010098080   2858291.0   1988710.0   2187603.0   2607831.0    760756.0
03-01-01012110180   2103212.0   1710289.0         0.0         0.0         0.0
03-01-01241117210   1103877.0   1688209.0   1625455.0   1588348.0   1529119.0
03-06-06060116320      6221.0     10444.0         NaN         NaN         NaN
...                       ...         ...         ...         ...         ...
666-14             10506865.0  10939592.0   5480746.0         NaN         NaN
666-16             10382489.0  11336347.0  10901602.0  11477133.0  11383251.0
666-17              6930646.0   9213007.0  10743646.0  10915044.0  10235672.0
666-18             10206393.0  10620266.0   9810438.0   9034030.0   9691195.0
669-01               420405.0     35255.0     24431.0      7367.0     15109.0


year                     2020        2021        2022
plantid
01-50-02000283604         NaN         NaN         NaN
03-01-01010098080    919152.0    964026.0   1058804.0
03-01-01012110180         0.0         NaN         NaN
03-01-01241117210   1404694.0   1359788.0   1086183.0
03-06-06060116320         NaN         NaN         NaN
...                       ...         ...         ...
666-14                    NaN         NaN         NaN
666-16             11029889.0  11351353.0  11474643.0
666-17             10833554.0  10731870.0  10589254.0
666-18             10345937.0  10320838.0  10268658.0
669-01                 3824.0     13613.0         NaN

[74 rows x 8 columns]

In [8]:
df = powers.xs(('yearpower'), axis=1, drop_level=True)

In [9]:
df2 = df.reset_index()

In [10]:
df2

year,plantid,2015,2016,2017,2018,2019,2020,2021,2022
0,01-50-02000283604,1370270.0,1121756.0,1047315.0,1159302.0,366425.0,NaN,NaN,NaN
1,03-01-01010098080,2858291.0,1988710.0,2187603.0,2607831.0,760756.0,919152.0,964026.0,1058804.0
2,03-01-01012110180,2103212.0,1710289.0,0.0,0.0,0.0,0.0,NaN,NaN
3,03-01-01241117210,1103877.0,1688209.0,1625455.0,1588348.0,1529119.0,1404694.0,1359788.0,1086183.0
4,03-06-06060116320,6221.0,10444.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
69,666-14,10506865.0,10939592.0,5480746.0,NaN,NaN,NaN,NaN,NaN
70,666-16,10382489.0,11336347.0,10901602.0,11477133.0,11383251.0,11029889.0,11351353.0,11474643.0
71,666-17,6930646.0,9213007.0,10743646.0,10915044.0,10235672.0,10833554.0,10731870.0,10589254.0
72,666-18,10206393.0,10620266.0,9810438.0,9034030.0,9691195.0,10345937.0,10320838.0,10268658.0
73,669-01,420405.0,35255.0,24431.0,7367.0,15109.0,3824.0,13613.0,NaN

In [11]:
#df

In [12]:
#powers.unstack('plantid')

In [13]:
np = pd.merge(plants, df2, how='left', on="plantid")

In [14]:
np

,plantid,plantname,federalstate,energysource,chp,latestexpanded,initialop,totalpower,state,blockcount,...,geo_long_wgs84,activepower,2015,2016,2017,2018,2019,2020,2021,2022
0,06-11-01-1105502,GuD Marzahn Dampfturbine,Berlin,Erdgas,Ja,2020,2020,258.800,in Betrieb,2,...,13.522089,258.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,06-09-162-0025-0001,Werk 1.1 KWK 1,Bayern,Erdgas,Ja,2019,2019,26.940,in Betrieb,7,...,11.561502,26.940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,661-101,Heizkraftwerk Stendal,Sachsen-Anhalt,Erdgas,Ja,2018,2018,13.200,in Betrieb,1,...,NaN,13.200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,661-93,HKW Dresden-Nord,Sachsen,Erdgas,Ja,2018,2018,11.500,in Betrieb,1,...,NaN,11.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,661-111,Gasmotor Bad Salzungen,ThÃ¼ringen,Erdgas,Ja,2018,2018,10.003,in Betrieb,1,...,NaN,10.003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,06-09-676-2101-0002,Sammelschienen-Kraftwerk Gas- und Dampfturbinen,Bayern,Erdgas,Ja,1956,1956,112.719,in Betrieb,1,...,9.148631,112.719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,06-05-300-9046797,LEV KWG G23,Nordrhein-Westfalen,Steinkohle,Ja,1999,1955,128.000,in Betrieb,8,...,6.985901,128.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,664-07,Fab Fortuna,Nordrhein-Westfalen,Braunkohle,Ja,1948,1948,15.000,in Betrieb,1,...,NaN,15.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322,664-02,IKW Deuben,Sachsen-Anhalt,Braunkohle,Ja,1936,1936,67.000,stillgelegt KVBG,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,07-05-8030815,HKW KarcherstraÃŸe,Rheinland-Pfalz,Erdgas,Ja,1900,1900,25.000,in Betrieb,1,...,7.760927,25.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
np.sort_values(by=[2019], ascending=False)

,plantid,plantname,federalstate,energysource,chp,latestexpanded,initialop,totalpower,state,blockcount,...,geo_long_wgs84,activepower,2015,2016,2017,2018,2019,2020,2021,2022
229,06-05-100-0248923,Neurath G,Nordrhein-Westfalen,Braunkohle,Ja,2012,1972,4211.000,in Betrieb,7,...,6.613850,3623.000,15389371.0,21816032.0,22612318.0,25510420.0,17882517.0,14625943.0,16556991.0,21859813.0
191,14-70-46630660001,Boxberg Block R,Sachsen,Braunkohle,Ja,2012,1979,2470.000,in Betrieb,4,...,14.574320,2470.000,17874941.0,16942565.0,17433150.0,17287198.0,16967642.0,13829970.0,14157643.0,17377699.0
182,12-40710010000,Kraftwerk JÃ¤nschwalde Block F,Brandenburg,Braunkohle,Ja,1989,1981,3000.000,in Betrieb,6,...,14.453040,3000.000,19614708.0,19949822.0,19622145.0,18912611.0,15104717.0,11685674.0,12950013.0,12506408.0
295,06-05-300-0326774,NiederauÃŸem,Nordrhein-Westfalen,Braunkohle,Ja,2003,1965,3359.000,in Betrieb,8,...,6.666582,2814.000,14657946.0,17047961.0,21546132.0,20371558.0,14479375.0,8818703.0,12627625.0,15149512.0
152,666-16,Isar 2,Bayern,Kernenergie,Nein,1988,1988,1410.000,in Betrieb,1,...,NaN,1410.000,10382489.0,11336347.0,10901602.0,11477133.0,11383251.0,11029889.0,11351353.0,11474643.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,06-09-676-2101-0002,Sammelschienen-Kraftwerk Gas- und Dampfturbinen,Bayern,Erdgas,Ja,1956,1956,112.719,in Betrieb,1,...,9.148631,112.719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,06-05-300-9046797,LEV KWG G23,Nordrhein-Westfalen,Steinkohle,Ja,1999,1955,128.000,in Betrieb,8,...,6.985901,128.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,664-07,Fab Fortuna,Nordrhein-Westfalen,Braunkohle,Ja,1948,1948,15.000,in Betrieb,1,...,NaN,15.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322,664-02,IKW Deuben,Sachsen-Anhalt,Braunkohle,Ja,1936,1936,67.000,stillgelegt KVBG,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,07-05-8030815,HKW KarcherstraÃŸe,Rheinland-Pfalz,Erdgas,Ja,1900,1900,25.000,in Betrieb,1,...,7.760927,25.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#np

In [17]:
rdict = {}
ddict = {}
co2dict = {}

for i in range(2015, 2023):
    rdict[('yearpower', i)] = 'energy_' + str(i)
    ddict[str(i)] = 0

for j in range(2007, 2022):
    co2dict[('amount', j)] = 'co2_' + str(j)

In [18]:
np2 = np.rename(columns=rdict)

In [19]:
np3 = np2.fillna(value=ddict)

In [20]:
with pd.option_context('mode.use_inf_as_null', True):
    np4 = np3.sort_values(2020, ascending=False)

In [21]:
np4

,plantid,plantname,federalstate,energysource,chp,latestexpanded,initialop,totalpower,state,blockcount,...,geo_long_wgs84,activepower,2015,2016,2017,2018,2019,2020,2021,2022
229,06-05-100-0248923,Neurath G,Nordrhein-Westfalen,Braunkohle,Ja,2012,1972,4211.000,in Betrieb,7,...,6.613850,3623.000,15389371.0,21816032.0,22612318.0,25510420.0,17882517.0,14625943.0,16556991.0,21859813.0
191,14-70-46630660001,Boxberg Block R,Sachsen,Braunkohle,Ja,2012,1979,2470.000,in Betrieb,4,...,14.574320,2470.000,17874941.0,16942565.0,17433150.0,17287198.0,16967642.0,13829970.0,14157643.0,17377699.0
182,12-40710010000,Kraftwerk JÃ¤nschwalde Block F,Brandenburg,Braunkohle,Ja,1989,1981,3000.000,in Betrieb,6,...,14.453040,3000.000,19614708.0,19949822.0,19622145.0,18912611.0,15104717.0,11685674.0,12950013.0,12506408.0
152,666-16,Isar 2,Bayern,Kernenergie,Nein,1988,1988,1410.000,in Betrieb,1,...,NaN,1410.000,10382489.0,11336347.0,10901602.0,11477133.0,11383251.0,11029889.0,11351353.0,11474643.0
153,666-17,Emsland A,Niedersachsen,Kernenergie,Nein,1988,1988,1336.000,in Betrieb,1,...,NaN,1336.000,6930646.0,9213007.0,10743646.0,10915044.0,10235672.0,10833554.0,10731870.0,10589254.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,06-09-676-2101-0002,Sammelschienen-Kraftwerk Gas- und Dampfturbinen,Bayern,Erdgas,Ja,1956,1956,112.719,in Betrieb,1,...,9.148631,112.719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,06-05-300-9046797,LEV KWG G23,Nordrhein-Westfalen,Steinkohle,Ja,1999,1955,128.000,in Betrieb,8,...,6.985901,128.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,664-07,Fab Fortuna,Nordrhein-Westfalen,Braunkohle,Ja,1948,1948,15.000,in Betrieb,1,...,NaN,15.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322,664-02,IKW Deuben,Sachsen-Anhalt,Braunkohle,Ja,1936,1936,67.000,stillgelegt KVBG,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,07-05-8030815,HKW KarcherstraÃŸe,Rheinland-Pfalz,Erdgas,Ja,1900,1900,25.000,in Betrieb,1,...,7.760927,25.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#np3.sort_values("2015", ascending=False)

In [23]:
pols = pd.read_csv('../pollution/pollutants.csv')

In [24]:
#pols2

In [25]:
pols1 = pols.loc[pols['releases_to'] == "Air"].loc[pols['pollutant'] == "CO2"]

In [26]:
#pols1

In [27]:
pols2 = pols1.drop(columns=['pollutant', 'releases_to', 'potency', 'unit_2', 'amount_2', 'pollutant2'])

In [28]:
pols2a = pols2.drop_duplicates(subset=['plantid', 'year'])

In [29]:
#pols2[pols2.duplicated(['plantid', 'year'], keep=False)].sort_values("year", ascending=False)

In [30]:
pols3 = pols2a.pivot(index='plantid', columns='year')

In [31]:
pols2a

       year            plantid       amount
0      2021  01-50-01000004838  593000000.0
3      2020  01-50-01000004838  518000000.0
9      2018  01-50-01000004838  602000000.0
13     2017  01-50-01000004838  597000000.0
17     2016  01-50-01000004838  633000000.0
...     ...                ...          ...
12921  2012              18042  239000000.0
12927  2011              18042  240000000.0
12933  2010              18042  227000000.0
12939  2009              18042  172000000.0
12944  2008              18042  168000000.0

[2407 rows x 3 columns]

In [32]:
final = pd.merge(np4, pols3, how='left', on="plantid")

/tmp/ipykernel_36777/568511099.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  final = pd.merge(np4, pols3, how='left', on="plantid")

In [33]:
final2 = final.rename(columns=co2dict)

In [34]:
co2dict

{('amount', 2007): 'co2_2007',
 ('amount', 2008): 'co2_2008',
 ('amount', 2009): 'co2_2009',
 ('amount', 2010): 'co2_2010',
 ('amount', 2011): 'co2_2011',
 ('amount', 2012): 'co2_2012',
 ('amount', 2013): 'co2_2013',
 ('amount', 2014): 'co2_2014',
 ('amount', 2015): 'co2_2015',
 ('amount', 2016): 'co2_2016',
 ('amount', 2017): 'co2_2017',
 ('amount', 2018): 'co2_2018',
 ('amount', 2019): 'co2_2019',
 ('amount', 2020): 'co2_2020',
 ('amount', 2021): 'co2_2021'}

In [35]:
list(final2)

['plantid',
 'plantname',
 'federalstate',
 'energysource',
 'chp',
 'latestexpanded',
 'initialop',
 'totalpower',
 'state',
 'blockcount',
 'company',
 'plz',
 'ort',
 'strasse',
 'hausnr',
 'geo_lat_wgs84',
 'geo_long_wgs84',
 'activepower',
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 'co2_2007',
 'co2_2008',
 'co2_2009',
 'co2_2010',
 'co2_2011',
 'co2_2012',
 'co2_2013',
 'co2_2014',
 'co2_2015',
 'co2_2016',
 'co2_2017',
 'co2_2018',
 'co2_2019',
 'co2_2020',
 'co2_2021']

In [36]:
final2[pd.isnull(final2['plantid'])]

Empty DataFrame
Columns: [plantid, plantname, federalstate, energysource, chp, latestexpanded, initialop, totalpower, state, blockcount, company, plz, ort, strasse, hausnr, geo_lat_wgs84, geo_long_wgs84, activepower, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, co2_2007, co2_2008, co2_2009, co2_2010, co2_2011, co2_2012, co2_2013, co2_2014, co2_2015, co2_2016, co2_2017, co2_2018, co2_2019, co2_2020, co2_2021]
Index: []

[0 rows x 41 columns]

In [37]:
final3 = final2.dropna(subset=["plantid"])

In [38]:
final3

,plantid,plantname,federalstate,energysource,chp,latestexpanded,initialop,totalpower,state,blockcount,...,co2_2012,co2_2013,co2_2014,co2_2015,co2_2016,co2_2017,co2_2018,co2_2019,co2_2020,co2_2021
0,06-05-100-0248923,Neurath G,Nordrhein-Westfalen,Braunkohle,Ja,2012,1972,4211.000,in Betrieb,7,...,3.120000e+10,3.330000e+10,3.240000e+10,3.210000e+10,3.130000e+10,2.990000e+10,3.220000e+10,2.260000e+10,1.870000e+10,2.210000e+10
1,14-70-46630660001,Boxberg Block R,Sachsen,Braunkohle,Ja,2012,1979,2470.000,in Betrieb,4,...,1.590000e+10,1.920000e+10,1.870000e+10,1.950000e+10,1.860000e+10,1.910000e+10,1.910000e+10,1.870000e+10,1.540000e+10,1.560000e+10
2,12-40710010000,Kraftwerk JÃ¤nschwalde Block F,Brandenburg,Braunkohle,Ja,1989,1981,3000.000,in Betrieb,6,...,2.480000e+10,2.570000e+10,2.450000e+10,2.370000e+10,2.410000e+10,2.400000e+10,2.310000e+10,1.790000e+10,1.390000e+10,1.540000e+10
3,666-16,Isar 2,Bayern,Kernenergie,Nein,1988,1988,1410.000,in Betrieb,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,666-17,Emsland A,Niedersachsen,Kernenergie,Nein,1988,1988,1336.000,in Betrieb,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,06-09-676-2101-0002,Sammelschienen-Kraftwerk Gas- und Dampfturbinen,Bayern,Erdgas,Ja,1956,1956,112.719,in Betrieb,1,...,4.020000e+08,4.000000e+08,2.640000e+08,2.600000e+08,2.970000e+08,3.080000e+08,2.970000e+08,2.820000e+08,2.510000e+08,2.850000e+08
320,06-05-300-9046797,LEV KWG G23,Nordrhein-Westfalen,Steinkohle,Ja,1999,1955,128.000,in Betrieb,8,...,1.010000e+09,8.930000e+08,8.360000e+08,8.260000e+08,8.030000e+08,7.930000e+08,7.320000e+08,7.430000e+08,6.750000e+08,8.230000e+08
321,664-07,Fab Fortuna,Nordrhein-Westfalen,Braunkohle,Ja,1948,1948,15.000,in Betrieb,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322,664-02,IKW Deuben,Sachsen-Anhalt,Braunkohle,Ja,1936,1936,67.000,stillgelegt KVBG,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,07-05-8030815,HKW KarcherstraÃŸe,Rheinland-Pfalz,Erdgas,Ja,1900,1900,25.000,in Betrieb,1,...,1.470000e+08,1.610000e+08,1.420000e+08,1.480000e+08,1.320000e+08,1.330000e+08,1.240000e+08,1.260000e+08,1.070000e+08,1.170000e+08

In [39]:
#final3.sort_values('plantid').reset_index(drop=True)

In [40]:
final3.to_csv('plants_new_nh.csv', header=False, index=False)

In [41]:
final3.loc[final3.plantid == "06-05-100-0248923"]

,plantid,plantname,federalstate,energysource,chp,latestexpanded,initialop,totalpower,state,blockcount,...,co2_2012,co2_2013,co2_2014,co2_2015,co2_2016,co2_2017,co2_2018,co2_2019,co2_2020,co2_2021
0,06-05-100-0248923,Neurath G,Nordrhein-Westfalen,Braunkohle,Ja,2012,1972,4211.0,in Betrieb,7,...,3.120000e+10,3.330000e+10,3.240000e+10,3.210000e+10,3.130000e+10,2.990000e+10,3.220000e+10,2.260000e+10,1.870000e+10,2.210000e+10

In [42]:
a = int(2.990000e+10 )

In [43]:
a

29900000000

In [44]:
list(final2)

['plantid',
 'plantname',
 'federalstate',
 'energysource',
 'chp',
 'latestexpanded',
 'initialop',
 'totalpower',
 'state',
 'blockcount',
 'company',
 'plz',
 'ort',
 'strasse',
 'hausnr',
 'geo_lat_wgs84',
 'geo_long_wgs84',
 'activepower',
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 'co2_2007',
 'co2_2008',
 'co2_2009',
 'co2_2010',
 'co2_2011',
 'co2_2012',
 'co2_2013',
 'co2_2014',
 'co2_2015',
 'co2_2016',
 'co2_2017',
 'co2_2018',
 'co2_2019',
 'co2_2020',
 'co2_2021']

In [45]:
#final2.sort_values('endop')